
.C1{
   display: block;
}

.C2{
    display: none;
 }

 .C3{
    display: none;
 }

 .C4{
    display: none;
 }

 .C5{
    display: none;
 }

 .C6{
    display: none;
 }

 .C7{
    display: none;
 }

 .C8{
    display: none;
 }

 .C1:hover{
   opacity:  0.5;
   transition-duration: 0.5s;
 }