.imageBlur{
    /* Add the blur effect */
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }

  .container,
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    width: 200px;
    height: 200px;
    background-color: #ccc;
    margin: 60px auto 0;
    display: flex;
  }
  
  .wrapper {
    height: 150px;
    width: 150px;
    background-color: #666;
  }
  
  .innerBox {
    width: 80px;
    height: 80px;
    padding: 8px;
    background-color: #222;
    display: none;
  }
  
  .container.show .innerBox {
    display: block;
  }